body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  margin: 0;
  padding: 0;
}

.to-do-list {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
}

ol{
  position: left;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 70%;
  margin-right: 10px;
  font-size: 16px;
}

.task-grid {
  display: grid;
  grid-template-columns: auto 1fr auto; 
  align-items: center; 
  gap: 10px; 
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end; 
}

.task-item {
  margin: 10px 0;
}

.text {
  color: #333; 
}


.add-button, .delete-button, .edit-button {
  background-color: #e9a068;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 14px;
  cursor: pointer;
  font-size: 16px;
}


.add-button:hover, .delete-button:hover, .edit-button:hover {
  background-color: #0056b3;
}

.completion-status {
  margin: 20px 0;
  font-size: 18px;
  color: #555;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.text {
  flex-grow: 1;
  text-align: left;
  padding: 0 10px;
}
